:host {
  display: block;
  padding: 1rem;
}

h2 {
  font-size: 4rem;
  margin-bottom: 1rem;
  text-align: center;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;

  & article {
    border: 0.1rem solid #ccc;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #f9f9f9;

    & a {
      text-decoration: none;
      color: inherit;
    }

    & span {
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;
    }

    & h3 {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }

    & h5 {
      font-size: 1.2rem;
      color: #888;
      margin-bottom: 0.5rem;
    }

    & p {
      font-size: 1.1rem;
      color: #555;
    }

    & img {
      width: 100%;
      height: auto;
      aspect-ratio: 4 / 3;
      filter: brightness(0.75);
    }

    & img:hover {
      transition: filter 0.3s ease-in-out;
      filter: brightness(1);
    }

    & button {
      display: flex;
      margin: 2rem auto;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border-radius: 0.5rem;
      background: #eee;
      border: none;
      &:hover {
        background-color: #ddd;
        cursor: pointer;
      }
      &:first-of-type {
        background: #007bff;
        color: white;
        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }
}

nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;

  & button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    background: #eee;
    border: none;
    &:hover {
      background: #ddd;
      cursor: pointer;
    }
    &:disabled {
      background: #f5f5f5;
      color: #aaa;
      cursor: not-allowed;
    }
  }
}
