<h2>Products</h2>
@if (loading()) { Loading... } @else if (error()) { Error loading products: {{ error() | json }}
} @else {
<section>
  @for (product of products(); track $index) {
  <article>
    <img [src]="product.images[0]" [alt]="product.title" [routerLink]="product.slug" />
    <h3>{{ product.title }}</h3>
    <h5>{{ product.description }}</h5>
    <p>${{ product.price }}</p>
    <span>
      <button class="btn btn--primary" [routerLink]="product.slug">View Details</button>
      <lib-cart-button [product]="product"></lib-cart-button>
    </span>
  </article>
  }
</section>
<nav>
  <button class="btn btn--ghost" (click)="store.previousPage()" [disabled]="store.offset() === 0">
    Previous
  </button>
  <button
    class="btn btn--ghost"
    (click)="store.nextPage()"
    [disabled]="store.products().length < store.limit()"
  >
    Next
  </button>
</nav>
}
