:host {
  display: block;
  padding: 1rem;
  max-width: 85rem;
  margin: 0 auto;
}

h2 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
}

article {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #aeaeae;
  width: auto;
  section {
    margin-bottom: 1rem;
    padding: 2rem;
    h3 {
      margin-top: 0;
      font-size: 3rem;
      color: #333;
    }
    h4 {
      font-size: 1.7rem;
      margin-top: 0.2rem;
      color: #444;
    }
    h5 {
      font-size: 1.2rem;
      color: #666;
      margin-top: 0.5rem;
    }
    p {
      font-size: 1.1rem;
      line-height: 1.2;
      color: #555;
    }
    button {
      padding: 0.8rem 1.2rem;
      font-size: 1rem;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 0.3rem;
      cursor: pointer;
      transition: background-color 0.3s ease;
      margin: 0.5rem 0;
      &:hover {
        background-color: #0056b3;
      }
    }
  }
}
